.error-not-found {
  width: 80%;
  height: 80%;
}

.error-indicator-title {
  font-family: 'Montserrat-Medium';
  font-weight: 500;
  font-size: 24px;
}

.error-indicator-text {
  font-family: 'Montserrat-Regular';
  font-weight: 400;
  font-size: 14px;
}

.error-indicator-text a {
  display: block;
}