@import "../../styles/components/variable";

.location-main .row {
  --bs-gutter-x: 0rem;
}

.location-body {
  padding: 1rem 1rem;
}

.location-title {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 24px;
}

.view-title {
  font-size: 12px;
  font-family: "Montserrat-Medium";
  font-weight: 500;
  margin-bottom: 20px;
}

.view-buttons {
  cursor: pointer;
}

.back-btn-text {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-size: 18px;
}

.location-card {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 0;
}

.location-card .card-body {
  min-height: 191px;
}

.location-icon {
  width: 90%;
  height: 100%;
  border-radius: 4px 0px 0px 4px;
}

.location-name {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 35px;
  max-width: 422px;
}

.location-type, .location-dimension, .location-count-characters {
  font-family: Montserrat-Regular;
  font-weight: 400;
  font-size: 14px;
  color: $color6;
}

.location-type-value, .location-dimension-value, .location-count-characters-value {
  font-family: "Montserrat-Medium";
  font-weight: 500;
  font-size: 14px;
}

.location-count-characters-value {
  font-size: 36px;
}

.grid-btn {
  position: relative;
  width: 0;
}

.favorite-location-btn button {
  bottom: 38px;
  right: 7px;
}

.is-favorite-location-icon {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40px;
  max-height: 40px;
  font-size: 15px;
  position: relative;
  bottom: 45px;
  right: -82px;
}

.pagination {
  cursor: pointer;
  gap: 14px;
}

.favorite-location-btn, .page-item, .grid-btn {
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.disabled {
  pointer-events: none
}

.page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.4);
  max-width: 30px;
  max-height: 30px;
  color: $color11;
  font-family: 'Montserrat-Medium';
  font-weight: 500;
  font-size: 18px;
}

.page-link:hover {
  color: $color11;
  background-color: $color12;
  border: 1px solid $color3;
}

.page-link:focus {
  box-shadow: none;
  background: none;
  color: $color11;
}

.prev-link, .next-link {
  border: none;
  font-family: 'Montserrat-Regular';
  color: $color11;
  font-weight: 400;
  font-size: 12px;
  display: block;
  max-width: none;
  max-height: none;
}

.prev-link:hover, .next-link:hover {
  border: none;
}

.prev-link:before {
  content: url("../../assets/icons/prev-arrow.svg");
  position: absolute;
  margin-left: -38px;
  top: 5px;
}

.prev-link:hover:before {
  content: url("../../assets/icons/hover-prev-arrow.svg");
}

.next-link::before {
  content: url("../../assets/icons/next-arrow.svg");
  position: absolute;
  margin-left: 90px;
  top: 5px;
}

.next-link:hover:before {
  content: url("../../assets/icons/hover-next-arrow.svg");
}

.page-item.active-page a {
  border: 1px solid $color3;
  color: $color3 !important;
  background: $color12 !important;
}

.page-item:not(:first-child) .page-link {
  margin-left: 0px;
}

.status-img {
  max-width: 5px;
  max-height: 5px;
}

.title-no-favorites {
  margin-top: 136px;
  font-family: 'Montserrat-Medium';
  font-weight: 500;
  font-size: 48px;
}

.sort-block {
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.sort-text {
  font-family: 'Montserrat-Bold';
  font-weight: 700;
  font-size: 14px;
}

.sort-name, .sort-place, .sort-last-location {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.active-sort {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
  text-underline-offset: 2.5px;
  color: $color3;
}

@media (min-width: 1440px) {
  .favorite-location-btn button{
    right: -158px;
  }
}

@media (max-width: 1439px) {
  .is-favorite-location-icon {
    right: -84px;
  }
  .favorite-location-btn button{
    right: -72px;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .is-favorite-location-icon {
    right: 7px;
  }
  .favorite-location-btn button  {
    bottom: 90px;
    right: -403px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .is-favorite-location-icon {
    bottom: 38px;
    right: 7px;
  }
  .favorite-location-btn {
    margin-top: 13px;
  }
  .favorite-location-btn button  {
    bottom: 76px;
    right: -286px;
  }

  .location-name {
    font-size: 16px;
  }

  .grid-card {
    height: 231px;
  }

  .grid-card img {
    height: 231px;
  }

  .location-type-value, .location-dimension-value, location-count-characters-value {
    font-size: 12px;
  }

}

@media (max-width: 450px) {
  .pagination {
    gap: 0;
  }
}

@media (max-width: 425px) {
  .location-form, .location-inputs {
    flex-direction: column;
  }
  .location-icon {
    width: 100%;
  }
  .back-btn {
    display: flex;
    justify-content: center;
  }
  .grid-card {
    min-height: 520px;
  }
  .is-favorite-location-icon {
    bottom: 90px;
    right: -349px;
  }
  .favorite-location-btn button {
    bottom: 90px;
    right: -350px;
  }
  .location-title {
    margin-top: 25px;
    display: flex;
    justify-content: center;
  }
  .location-inputs input {
    margin-top: 0 !important;
  }
  .view {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .view-buttons {
    justify-content: start !important;
  }
  .view-title {
    margin-bottom: 10px;
  }
  .card-body {
    padding: 1rem 1rem;
  }
  .location-name {
    text-align: center;
  }
  .text-xs-center {
    text-align: center;
  }
  .mx-sm-2 {
    margin-left: 0 !important;
  }
  .favorite-location-btn {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .favorite-location-btn button {
    right: -296px;
  }
  .is-favorite-location-icon {
    right: -304px;
  }
}

@media (max-width: 320px) {
  .favorite-location-btn button {
    right: -240px;
  }
  .is-favorite-location-icon {
    right: -250px;
  }
}
