$color1: #A1A1A1;
$color2: #00A3FF;
$color3: #FF0000;
$color4: #FFC803;
$color5: #DF0000;
$color6: #1F4766;
$color7: #1400FF;
$color8: #00CA51;
$color9: #008BDA;
$color10: #F7F7F7;
$color11: #000000;
$color12: #FFFFFF;
$color13: rgba(0, 0, 0, 0.1);