.about-title {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 24px;
}

.about-text {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}

@media (max-width: 425px) {
  .about-title {
    margin-top: 25px;
    display: flex;
    justify-content: center;
  }
}
