@import "../../../styles/variable";

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  color: #ffffff;
  margin-right: 15px;
  font-size: 12px;
  font-family: "Montserrat-Medium";
  font-weight: 500;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:disabled {
    background: #ccc;
    color: #000;
    cursor: not-allowed;
  }
}

.dark {
  background-color: $color11;

  &:hover {
    background-color: $color6;
  }
}

.btn-home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: $color11;
  margin: 0 auto;
  border-radius: 5px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  max-width: 164px;
  width: 100%;
  padding: 10px 20px 10px 20px;

  &:hover {
    background-color: $color6;
  }
}

.outline-dark {
  border-color: $color11;
  background-color: $color12;
  color: $color11;

  &:hover {
    background-color: $color13;
  }
}

.add-to-favorite-btn {
  margin: 0 auto;
  background-color: $color2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  width: 75%;
  font-family: 'Montserrat-Bold';
  font-weight: 700;
  font-size: 15px;

  &:hover {
    background-color: $color9;
  }
}

.circle-add-to-favorite-btn {
  position: relative;
  z-index: 1;
  bottom: 258px;
  right: 32px;
  margin: 0 auto;
  background-color: $color2;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  font-size: 15px;

  &:hover {
    background-color: $color9;
  }
}

.circle-remove-from-favorite-btn {
  position: relative;
  z-index: 1;
  bottom: 258px;
  right: 32px;
  margin: 0 auto;
  background-color: $color5;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  font-size: 15px;

  &:hover {
    background-color: #FF0000;
  }
}

.is-favorite-btn {
  margin: 0 auto;
  background-color: transparent;
  border: none;
  color: $color8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 75%;
  font-family: 'Montserrat-Bold';
  font-weight: 700;
  font-size: 15px;

  img {
    padding: 0 10px;
  }
}

.back-btn {
  padding: 0;
  border-radius: 0;
  border: none;
  background: none;
  color: $color11;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-size: 18px;

  &:active {
    box-shadow: none;
  }
}

@media (max-width: 1440px) {
  .add-to-favorite-btn {
    width: 65%;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .add-to-favorite-btn {
    width: 75%;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .add-to-favorite-btn {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .add-to-favorite-btn {
    width: 75%;
  }
}

@media (max-width: 425px) {
  .circle-add-to-favorite-btn {
    bottom: 550px;
  }
}

@media (max-width: 375px) {
  .add-to-favorite-btn {
    width: 85%;
  }
}

@media (max-width: 320px) {
  .add-to-favorite-btn {
    width: 100%;
  }
}
