@import "../../styles/variable";

.nav-link {
  font-size: 18px;
  font-family: "Montserrat-Medium";
  font-weight: 500;
}

a.nav-link:hover {
  color: $color3 !important;
}

.active {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 8.5px;
  color: $color3 !important;
}


@media (max-width: 425px) {
  .navbar-brand {
    margin: 0 auto;
  }
}
