@import "../../../styles/variable";

.input {
  margin-bottom: 35px;
  width: 100%;
  height: 33px;
}

.input label {
  margin-bottom: 3px;
  padding: 0;
  display: block;
  font-size: 12px;
  font-family: "Montserrat-Medium";
  font-weight: 500;
  margin-bottom: 20px;
}

.input input {
  font-family: "Montserrat-Medium";
  font-weight: 500;
  font-size: 12px;
  display: block;
  box-sizing: border-box;
  border: 1px solid $color1;
  padding: 7px;
  width: 100%;
  outline: none;
  transition: all 300ms ease-in-out;
  border-radius: 5px;
}

.input span {
  color: $color3;
  font-size: 12px;
  font-weight: bold;
}

.error {
  border: 1px solid $color3 !important;
  border-radius: 5px;
}

.checkbox {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.checkbox > input {
  width: auto;
  padding: 0px;
  margin: 0px;
  font-size: 1px;
}

.checkbox span {
  font-family: "Montserrat-Medium";
  font-weight: bold;
  font-size: 14px;
  color: $color11;
}

.eye {
  position: relative;
  bottom: 30px;
  left: 290px;
  cursor: pointer;
}

@media(max-width: 425px) {
  .eye{
    left: 210px;
  }
}









